<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="tm.digital.mapper.UserRoleMapper">
    <select id="queryRoleName" resultType="java.lang.String">
        select display_name from role where id = (select role_id from user_role where user_id = #{userId})
    </select>

    <select id="queryRoleId" resultType="java.lang.String">
        select role_id from user_role where user_id = #{userId}
    </select>

    <select id="selectByRoleIds" resultType="java.lang.String">
        select user_id from user_role
        <where>
            role_id in
            <foreach collection="roleIds" item="id" index="index" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>
</mapper>