<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yolo.demo.mapper.UserRoleMapper">


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="UserRole">
    select *
    from user_role
    where id = #{id}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_role
    where id = #{id}
  </delete>

  <insert id="insert">
    insert into user_role (`uid`, rid)
    values (#{uid}, #{rid})
  </insert>


</mapper>